.article {
  &__list {
    list-style: none;
    width: 100%;
    padding: 0;
  }
  &__item {
    width: 80%;
    margin: 26px auto 0 auto;
  }
}
.loading {
  width:10%;
  margin: 32px auto 0 auto;
  text-align: center;
}
.paginator {
  margin-top: 27px;
  text-align: center;
}