::-webkit-scrollbar { width: 0;}

@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'),
  url('Inter-Regular.woff2') format('woff2'),
  url('Inter-Regular.woff') format('woff'),
  url('Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #EBEEF3;
  width: 100%;
  height: max-content;
  margin: 0;
  font-family: Inter, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;

}
.main {
  width: 100%;
}